.reveal {
    section {
        img {
            border: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        ul {
            li {
                margin: .75em 0;
            }
        }
    }
}